.WarMinimap {
	position:absolute;
	background:#2e4434;
	border:1px inset silver;
	border-radius:3px;
}

/* SPECIFIC */

#WarMinimap {
	left:0.5%;
	width:20%;
	top:34%;
	height:30%;
}

